.features-container {
  background-color: var(--white-bg-color);
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-item {
  width: 100%;
}

.features-title {
  margin-bottom: 8px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.features-icon-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .features-title {
    text-align: left;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
  }

  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .features-icon-container {
    display: flex;
    height: 112px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    background-color: var(--light-color);
    border: 1px solid var(--subtitle-color);
    border-radius: 4px;
  }
}
