.footer-container {
  color: var(--light-color);
  background-color: var(--dark-color);
  padding: 96px 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-slogan {
  width: 264px;
  text-align: center;
}

.footer-text {
  width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
}

.footer-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social-media .social-list {
  gap: 16px;
}

.footer-social-title,
.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 8px;
}

.subscribe-title {
  margin-bottom: 16px;
}

.footer-social-media .social-link:hover,
.footer-social-media .social-link:focus {
  background-color: var(--success-color);
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  padding: 8px 24px;

  background-color: var(--primary-brand-color);
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-bg-color);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--success-color);
}

.subscribe-icon {
  fill: var(--white-bg-color);
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.subscribe-input {
  width: 100%;
  height: 40px;

  padding-left: 16px;
  padding-right: 13px;

  border: 1px solid var(--white-bg-color);
  border-radius: 4px;

  outline: transparent;
  background-color: transparent;
  color: var(--white-bg-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-bg-color);
}

.subscribe-input:focus {
  border-color: var(--success-color);
}

@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 72px;
    column-gap: 24px;
    padding-left: 108px;
    padding-right: 108px;
  }

  .footer-slogan {
    text-align: left;
  }

  .footer-social-media {
    align-items: flex-start;
  }

  .footer-subscribe {
    align-items: flex-start;
    flex-basis: 100%;
    width: auto;
  }

  .subscribe-form {
    flex-direction: row;
    align-items: center;
    gap: 24px;
    width: auto;
  }

  .subscribe-input {
    width: 264px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-container {
    padding: 100px 141px;
  }

  .footer-content {
    flex-wrap: nowrap;
    justify-content: flex-start;
    column-gap: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .footer-slogan {
    margin-right: 120px;
  }

  .footer-social-media {
    align-items: flex-start;
    margin-right: 83px;
  }

  .footer-subscribe {
    flex-basis: auto;
    align-items: flex-start;
  }

  .subscribe-form {
    align-items: flex-start;
  }
}
