.hero-container {
  color: var(--white-bg-color);
  padding: 72px 0;
  max-width: 1440px;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/hero-bg.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-resolution: 2x) {
  .hero-container {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/hero-bg@2x.jpg");
  }
}

.hero-title {
  max-width: 216px;
  margin: 0 auto;
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--white-bg-color);
}

.hero-button {
  display: block;
  background-color: var(--primary-brand-color);
  color: var(--white-bg-color);
  font-weight: 500;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  margin: 72px auto 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}

@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;

    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  .hero-container {
    padding: 112px 0;
  }

  .hero-button {
    margin: 36px auto 0;
  }
}

@media screen and (min-width: 1158px) {

  .hero-container {
    padding: 188px 0;
  }

  .hero-button {
    margin-top: 48px;
  }
}
